#if ($indent ==0)
<ul>
	<li><b>Method skipped, because of its dependencies :</b></li>
	#if ($dependentGroup !="")
	<li><u>Group $dependentGroup</u></li>
	#end
#end
	<ul>
		<li><img src="$status">$method</li>
		$subDep
	</ul>
	
#if ($dependentGroup !="")
<ul>
#end