	#if ($status.toString().equals("passed"))
		<div class="box collapsed-box success">
	#elseif ($status.toString().equals("failed"))
		<div class="box collapsed-box failed">
	#else
		<div class="box collapsed-box skipped">
	#end
		<div class="box-header with-border">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button> $methodName - $time
		</div>
		<div class="box-body">
			<ul>
				<li><b>$desc</b></li>
				
				<ul>
					$content
				</ul>
			</ul>
			$dependencies_desc
	
		</div>
	</div>