<section class="content">
  	<div class="row">
    	<div class="col-xs-12">
    		<h4> Test Details - $suiteName</h4>
      		<p><b>$applicationType </b> $application<br/>$applicationActivity</p>
