<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />

    <title>SeleniumRobot</title>

	#if ($localResources)
	#parse("reporter/templates/html.head.local.vm")
	#else
	#parse("reporter/templates/html.head.remote.vm")
	#end
	
	 #if ($report.equals("complete"))
	<link rel="stylesheet" type="text/css" href="resources/templates/seleniumRobot.css">
	#else
	<link rel="stylesheet" type="text/css" href="resources/templates/seleniumRobot_solo.css">
	#end
	<script src="resources/templates/seleniumRobot.js"></script>

</head>

<body>
	#if ($report.equals("complete"))
	<div class="wrapper">
		<header class='main-header'>
		    <a href='https://github.com/bhecquet/seleniumRobot'>SeleniumRobot</a><br/>
		</header>
	</div>
	#else
		#if ($header == "passed")
	<div class="wrapper">
		<header class='main-header header-success'>
		    <a href='https://github.com/bhecquet/seleniumRobot'>SeleniumRobot</a><br/>
		</header>
	</div>
	#elseif ($header == "failed")
	<div class="wrapper">
		<header class='main-header header-failed'>
		    <a href='https://github.com/bhecquet/seleniumRobot'>SeleniumRobot</a><br/>
		</header>
	</div>
	#else
	<div class="wrapper">
		<header class='main-header header-skipped'>
		    <a href='https://github.com/bhecquet/seleniumRobot'>SeleniumRobot</a><br/>
		</header>
	</div>
	#end
	#end
	<div class="container">
		