<?xml version="1.0" encoding="UTF-8" ?>
<testsuite errors="$errors" failures="$failures" hostname="$hostname" name="$suiteName" tests="$tests" time="$duration" timestamp="$time">
	
	#foreach ($testStep in $testSteps)
		#set($stepDuration = $testStep.getDuration() / 1000.0)
		<testcase classname="$className" name="Step $velocityCount: $testStep.getName()" time="$stepDuration">
		#if ($testStep.getFailed() && $testStep.getActionException())
			#if (${testStep.getActionException().class.name.equals("org.testng.SkipException")})
				<skipped/>
			#else
				<error message="$testStep.getActionExceptionMessage()" type="">
				<![CDATA[$testStep.getExceptionMessage("text")]]>
				</error>
			#end
		#elseif($testStep.getFailed() && !$testStep.getActionException())
			<error message="Step in error" type="">
			<![CDATA[Error message not available]]>
			</error>
		#end
		</testcase>
	#end
	<system-out><![CDATA[$logs]]></system-out>
	
</testsuite>