#set($stepIdx = 0)
#set($testInfoIdx = 0)
#set($pageLoadTimesIdx = 0)
#set($stepsSize = $unencodedTestSteps.size())
#set($testInfoSize = $testInfos.size())
#set($pageLoadTimesSize = $pageLoadTimes.size())
{
	"gridnode": "$gridnode",
	"errors": $errors,
	"failures": $failures,
	"hostname": "$hostname",
	"name": "$suiteName",
	"stepNumber": $tests,
	"duration": $duration,
	"startTime": $time,
	"browser": "$browser",
	"browserVersion": "$browserVersion",
	"appVersion": "$version",
	"coreVersion": "$coreVersion",
	"retries": $retries,
	"mobileApp": "$mobileApp",
	"device": "$device",
	"platform": "$platform",
	"failedStep": "$failedStep",
	"infos": [
		#foreach ($testInfo in $testInfos.entrySet())
			#set($testInfoIdx = $testInfoIdx + 1)
			{
				"key": "$testInfo.key",
				"value": "$testInfo.value"
			}#if( $testInfoIdx != $testInfoSize),#end
		#end
	],
	"steps": [
		#foreach( $unencodedTestStep in $unencodedTestSteps )
			#set($stepIdx = $stepIdx + 1)
			$unencodedTestStep.toJson()#if( $stepIdx != $stepsSize),#end
		#end
	],
	"pageLoads": [
		#foreach( $pageLoadTime in $pageLoadTimes )
			#set($pageLoadTimesIdx = $pageLoadTimesIdx + 1)
			$pageLoadTime.toJson()#if( $pageLoadTimesIdx != $pageLoadTimesSize),#end
		#end
	]
}