#macro( stepActions $localStep $directCall)

	#if (!$directCall)
		<li>$localStep.getName()</li>
	#end
	<ul>
	#foreach( $action in $localStep.getStepActions() )
		#if (${action.class.name.equals("com.seleniumtests.reporter.logger.TestStep")})
			#stepActions($action false)
		#elseif (${action.class.name.equals("com.seleniumtests.reporter.logger.TestMessage")})
			#set ($messageType = $action.getMessageType().toString().toLowerCase())
			#set ($messageType = "message-" + $messageType)
			<div class="$messageType">$action.getName()</div>
			#set ($messageType = "")
		#elseif (${action.class.name.equals("com.seleniumtests.reporter.logger.TestValue")})
			<table class="table table-bordered table-condensed">
				<tr>
					<th width="15%">Key</th>
					<th width="60%">Message</th>
					<th width="25%">Value</th>
				</tr>
				<tr>
					<td>$action.getName()</td>
					<td>$action.getMessage()</td>
					<td>$action.getValue()</td>
				</tr>
			</table>
		#else
			<li>$action.getName()</li>
	    #end
	#end
	#foreach( $snapshot in $localStep.getSnapshots() )
		#set($snapshotLog = $snapshot.buildScreenshotLog())
		<div class="message-snapshot">$snapshotLog</div>
	#end
	#foreach( $file in $localStep.getFiles() )
		#set($log = $file.buildLog())
		<div class="message-snapshot">$log</div>
	#end
	#if( $localStep.getHarCapture() )
		#set($harLog = $localStep.getHarCapture().buildHarLog())
		<div class="message-snapshot">$harLog</div>
	#end
	</ul>
#end

	#if ($status.toString().equals("passed"))
		<div class="box collapsed-box success">
	#elseif ($status.toString().equals("failed"))
		<div class="box collapsed-box failed">
	#else
		<div class="box collapsed-box skipped">
	#end
		<div class="box-header with-border">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button> $stepName - $stepDuration secs
		</div>
		<div class="box-body">
			#stepActions($step true)
			
			#if($step.getActionException())
			<div class="message-error">
				#set($exceptionMessage = $step.getActionExceptionMessage())
				$exceptionMessage
			</div>
			#end
		</div>
	</div>