<?xml version="1.0" encoding="UTF-8" ?>
#set($success = $errors==0 && $failures==0)
#set($startTime = $testSteps.get(0).getStartDate().getTime())

<report duration="$duration" success="$success" test="$className.$suiteName" timeScenario="$duration" timestamp="$time" version="$version">
	<errors>
#if ($stacktrace)
		<error>
	#foreach ($stackline in $stacktrace)
			$stackline
	#end
		</error>
#end
	</errors>
	<steps>
#foreach ($testStep in $testSteps)
#set($stepDuration = $testStep.getDuration() / 1000.0)
#set($stepTime = $testStep.getStartDate().getTime() - $startTime)
		<step id="$velocityCount">
			<duration>$stepTime</duration>
            <name>$testStep.getName()</name>
            <values>
#foreach ($action in $testStep.getStepActions())
 #if (${action.class.name.equals("com.seleniumtests.reporter.logger.TestValue")})
            	<value id="$action.getName()" name="$action.getMessage()" value="$action.getValue()"/>
 #end
#end
            </values>
        </step>
#end
	</steps>
	<params>
#foreach ($param in $parameters.entrySet())
#if ($param.value)
		<param name="$param.key" value="$param.value"/>
#end
#end
	</params>
</report>