<?xml version="1.0" encoding="UTF-8" ?>
<testsuite gridnode="$gridnode" errors="$errors" failures="$failures" hostname="$hostname" name="$suiteName" tests="$tests" time="$duration" timestamp="$time" browser="$browser" appVersion="$version" coreVersion="$coreVersion" retries="$retries" mobileApp="$mobileApp" device="$device" platform="$platform" failedStep="$failedStep" >
	
	<infos>
		#foreach ($testInfo in $testInfos.entrySet())
			<info key="$testInfo.key" value="$testInfo.value"></info>
		#end
	</infos>	
	
	#foreach ($testStep in $testSteps)
		#set($stepDuration = $testStep.getDuration() / 1000.0)
		<testcase classname="$className" name="Step $velocityCount: $testStep.getName()" time="$stepDuration">
		#if ($testStep.getFailed() && $testStep.getActionException())
			#if (${testStep.getActionException().class.name.equals("org.testng.SkipException")})
				<skipped/>
			#else
				<error message="$testStep.getActionExceptionMessage()" type="">
				<![CDATA[$testStep.getExceptionMessage("text")]]>
				</error>
			#end
		#elseif($testStep.getFailed() && !$testStep.getActionException())
			<error message="Step in error" type="">
			<![CDATA[Error message not available]]>
			</error>
		#end
		</testcase>
	#end
	<system-out><![CDATA[$logs]]></system-out>
	
</testsuite>