body{
	background-color: #ecf0f5;
	font-size: 14px;
}

@media (min-width:1600px) {
	.container,.container-fluid {
		width:85%
	}
}

.main-header{
	background-color: #000;
	min-height: 50px;
	text-align: center;
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
	line-height: 50px;
}

.box-black{
	border-top: 3px solid #000;
}

.main-header a, .main-header a:hover{
	color: #ffffff;
}

.content-header > h1{
	font-size: 22px;
}

tbody tr td, thead tr th, tfoot tr th{
	text-align: right;
}

.alignleft{
	text-align: left;
}

.bgwhite, .table > tfoot > tr > th{
	background-color: #ffffff;
	border-bottom: 2px solid #ddd;
}

.circleSuccess{
	color: #2BC400;
	margin-right: 3px;
}

.circleFailed{
	color: #FF6666;
	margin-right: 3px;
}

.circleSkipped{
	color: #00CCFF;
	margin-right: 3px;
}

.failedSteps {
	color: red;
	font-weight: bold;
	background-color: rgba(255,102,102,0.3);
}


a.failedStepsTooltip {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a.errorTooltip {
	color: #007bff;
	cursor: pointer;
}

.fa-file-video, .fa-video, .fa-file-image, .fa-file-alt {
	padding-right: 4px;
	font-size: 20px;
}

.testSuccess{
	border-bottom: 2px solid #2BC400;
	background-color: rgba(151,208,134,0.2);
}

.testFailed{
	border-bottom: 2px solid #FF6666;
	background-color: rgba(255,102,102,0.1);
}

.testSkipped{
	border-bottom: 2px solid #00CCFF;
	background-color: rgba(167,215,243,0.2);
}

.pieChart{
	margin-top: 20px;
	text-align: center;
}

/*.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}*/