body{
	background-color: #ecf0f5;
	font-size: 14px;
}

@media (min-width:1600px) {
	.container,.container-fluid {
		width:85%
	}
}

@media screen and (max-width: 1280px) {
	.fa-stopwatch-20 {
		font-size: 30px !important;
	}

	#timestampAction {
		left: -1rem !important;
	}
}

.main-header{
	min-height: 50px;
	text-align: center;
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
	line-height: 50px;
}

#snapshot-iframe {
	width: 100%;
	height: inherit;
}

.box{
	margin-bottom: 7px;
}

.box-header{
	padding: 0px;
}

.header-success{
	background-color: #97D086;
}

.header-skipped{
	background-color: #A7D7F3;
}

.header-failed{
	background-color: #F9727B;
}

.message-error {
	background-color: #FFC9C9;
	color: red;
	font-weight: bold;
}

.message-info {
	background-color: #B5EEAE;
}

.message-conf {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.message-warning {
	background-color: #FFBF80;
}

.message-value {
	background-color: #cce6ff;
}


.tab-success {
	background-color: rgba(151,208,134,0.3);
}

.tab-failed {
	background-color: rgba(255,102,102,0.3);
}

.tab-skipped {
	background-color: rgba(102,204,255,0.3);
}

.success{
	border-top: 3px solid #97D086;
}

.skipped{
	border-top: 3px solid #A7D7F3;
}

.failed{
	border-top: 3px solid #F9727B;
}

.warning{
	border-top: 3px solid #FFBF80;
}

.success .fa-plus, .success .fa-minus, .success a, .success a:hover{
	color: #97D086;
}

.skipped .fa-plus, .skipped .fa-minus, .skipped a, .skipped a:hover{
	color: #A7D7F3;
}

.failed .fa-plus, .failed .fa-minus, .failed a, .failed a:hover{
	color: #F9727B;
}

.fa-info-circle {
	color: #3399ff;
	padding-right: 4px;
}

.fa-file-video, .fa-video, .fa-file-image, .fa-file-alt {
	padding-right: 4px;
	font-size: 20px;
}

a.errorTooltip {
	color: #007bff;
	cursor: pointer;
}

.step-info {
	background-color: #e6f2ff;
	border-color: #0073e6;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}

.step-title {
	width: 90%;
	display: inline-block;
}

.warning .fa-plus, .warning .fa-minus{
	color: #FFBF80;
}
.warning a, .warning a:hover {
	color: #F29131;
}

.main-header a, .main-header a:hover{
	color: #ffffff;
}

.bold{
	font-weight: bold;
}

.logs {
	font-family: "Courier New", Courier, monospace;
}

.stack-element {
	padding-left: 30px;
}

table.table-bordered {
	border:1px solid #aaa;
}

table.table-bordered > tbody > tr > th {
	border:1px solid #aaa;
}

table.table-bordered > tbody > tr > td {
	border:1px solid #aaa;
}

.stepTimestamp {
	display: none;
	font-family: 'Courier New', Courier, monospace;
}