# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Publish release

on: workflow_dispatch
  #release:
  #  types: [created]
    
  

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java for publishing to Maven Central Repository
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: central
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE 
    - name: Build with Maven
      run: mvn -Darguments="-Dmaven.test.skip=true -Dskip.custom.driver=false -Dskip.clean.driver=false" -B package --file pom.xml
    - name: git config
      run: | 
        git config --global user.email "robot@seleniumRobot.com"
        git config --global user.name "Robot"
    - name: Publish to the Maven Central Repository
      run: mvn -Darguments="-Dmaven.test.skip=true -Dskip.custom.driver=false -Dskip.clean.driver=false" release:prepare release:perform -Dusername=git -Dpassword=${{ secrets.GITHUB_TOKEN }}
      env:
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
